* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  :root {
    --primary-color: #028fb5;  
    --secondary-color: #8dc63f; 
    --background-color: #f4f7f9; /* Cinza claro */
    --text-color: #333;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: flex-start;
    padding-top: 16px;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  

  #logo-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 16px;
    color: var(--primary-color);
  }

  #content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  form {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
    max-width: 1163px; 
  }
  
  /* Campos do formulário */
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

  input[type="number"] {
  width: 40%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
  
  button {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
  
  button:hover {
    background: var(--secondary-color);
  }
  
  table {
    min-width: 1163px;
    width: fit-content;
    background: var(--background-color);
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px 32px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background: var(--primary-color);
    color: white;
  }

  th#action-section {
    text-align: center;
  }
  
  td {
    background: var(--background-color);
  }

  td#action-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }


  
  td button {
    margin-right: 5px;
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  td button:hover {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background: transparent;
  }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 20px 0 50px 0;
}

.pagination button {
  padding: 8px 16px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background: var(--secondary-color);
}
  
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  
    form {
      width: 90%;
    }
  }
  